{% extends "base.html" %}

{% block content %}
<h2>Контейнер: {{container.name}}</h2>
<ul></ul>
    {% for atr in container %}
    <li>
        {{atr}}
    </li>
    {%endfor%}
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px;">
        <form action="/container/{{container.name}}" method="POST" enctype="multipart/form-data">
            <input type="submit" class="btn btn-outline-secondary" value="Запустить" id="{{container.name}}">
            <input value="{{container.name}}" type="hidden" name="name">
        </form>
    </div>
</ul>

{% endblock %}