{% extends "base.html" %}

{% block content %}
<h2>Контейнер: {{container.name}}</h2>
<br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-danger">Остановить</button>
    <button type="button" class="btn btn-outline-secondary">Перезагрузить</button>
    <button type="button" class="btn btn-outline-secondary">Запустить</button>
</div>

<br>

<table class="table">
  {% for key, value in container.config.items() %}
    <tr>
      <td>{{key}}</td> <td>{{value}}</td>
    </tr>
  {% endfor %}
  </table>

{% endblock %}