{% extends "base.html" %}

{% block content %}
<h2>Контейнер: {{container.name}}</h2>
<br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">Остановить</button>
    <button type="button" class="btn btn-outline-primary">Перезагрузить</button>
    <button type="button" class="btn btn-outline-primary">Запустить</button>
  </div>
<ul></ul>
    {% for atr in container %}
    <li>
        {{atr}}
    </li>
    {%endfor%}
    
</ul>

{% endblock %}