{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
{% endif %}
{% endwith %}
<form action="/create/vm" method="POST" enctype="multipart/form-data">
    <h2>Из локального образа</h2>
    <br>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" placeholder="Название" aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="iso" placeholder="Имя образа" aria-describedby="basic-addon2">
    </div>
        
    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" style="margin-top: 5px;">Создать</button>
    
</form>
<br>
<br>

{%if images%}
    <h3>Локальные образы</h3>
    <br>
    <table class="table table-default table-hover">
        <tr>
            <td>Дистрибутив</td>
            <td>Архитектура</td>
            <td>Версия</td>
            <td>Имя</td>
        </tr>
    {%for image in images%}
        <tr>
            <td>{{image.properties['os']}}</td>
            <td>{{image.properties['architecture']}}</td>
            <td>{{image.properties['release']}}</td>
            {%if image.aliases[0]%}
                <td>{{image.aliases[0]['name']}}</td>
            {%else%}
                <td>None</td>
            {%endif%}
        </tr>
    {%endfor%}
    </table>
{%endif%}

{% endblock %}