{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
{% endif %}
{% endwith %}

<form action="/download/iso" method="POST" enctype="multipart/form-data">
    <h2>Загрузить из интернета</h2>
    <br>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="name" placeholder="Название" aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="desc" placeholder="Описание" aria-describedby="basic-addon2" style="width: 60%;">
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="distr" placeholder="Дистрибутив" aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="arch" placeholder="Архитектура"  aria-describedby="basic-addon2">
        <input type="text" class="form-control" name="version" placeholder="Версия"  aria-describedby="basic-addon2">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="public" id="flexCheckDefault" name="public">
        <label class="form-check-label" for="flexCheckDefault">
          Публичный
        </label>
    </div>
    
    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" style="margin-top: 5px;">Создать</button>
    
</form>

<br>
<br>
<h3><a href="https://cloud-images.ubuntu.com/daily/server/" class="link-primary">Доступные образы 1</a></h3>
<h3><a href="https://us.images.linuxcontainers.org/" class="link-primary">Доступные образы 2</a></h3>


{% endblock %}