{% extends "base.html" %}

{% block content %}
<h2>
    Доступные машины
</h2>
<br>
{% if containers %}
    {% for container in containers %}
        <ul class="list-group">
            <div class="list-group" style="margin: 2px;">
                <a href="/container/{{container.name}}" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{container.name}}</h5>
                    <small class="text-muted">{{container.status}}</small>
                  </div>
                  <p class="mb-1">{{container.architecture}}</p>
                  <p class="mb-1">{{container.description}}</p>
                  <small class="text-muted">Подробности</small>
                </a>
              </div>
        </ul>
    {% endfor %}
{% else %}
    <h3>Ничего не найдено</h3>
{% endif %}
<br>
<h3>Гипервизор</h3>
<table class="table table-default table-hover">
  <tr>
      <td>Компонент</td>
      <td>Описание</td>
  </tr>
  <tr>
    <td>Система</td>
    <td>{{hypervisor.system}}</td>
  </tr>
  <tr>
    <td>Хост</td>
    <td>{{hypervisor.node}}</td>
  </tr>
  <tr>
    <td>Версия</td>
    <td>{{hypervisor.release}}</td>
  </tr>
  <tr>
    <td>Архитектура</td>
    <td>{{hypervisor.machine}}</td>
  </tr>
  <!-- <tr>
    <td>Процессор</td>
    <td>{{hypervisor.processor}}</td>
  </tr> -->
</table>
<br>
<br>
{% endblock %}