{% extends "base.html" %}

{% block content %}
<form action="/login" method="POST">
    <h2>Авторизация</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Почта</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email">
      <div id="emailHelp" class="form-text">Мы никогда не будем делиться вашей электронной почтой ни с кем другим.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}